.timeline-slider__list {
  @extend .no-gutters;
  @include flex($jc: sb);
  list-style-type: none;
}

.timeline-slider__item {
  text-align: center;
  cursor: pointer;
  font-family: $main-font;
  font-size: 20px;
  color: $text-accent-color;
  padding-bottom: 23px;
  position: relative;
  transition: all .3s;
  &::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 24px;
    background-color: $text-accent-color;
    top: 100%;
    @include left-align();
    transition: all .3s;
  }
}


.timeline-slider__item_active {
  font-size: 0;
  &::after {
    background-color: $accent-color;
  }
}
