// FONTS
$main-font: 'Roboto', "Arial", sans-serif;
$main-font_bold: 'Roboto Bold', "Arial", sans-serif;
$main-font_black: 'Roboto Black', "Arial", sans-serif;
$main-font_light: 'Roboto Light', "Arial", sans-serif;
$main-font_medium: 'Roboto Medium', "Arial", sans-serif;
$add-font: "Myriad Pro", "Arial", sans-serif;


// COLORS
$dark-color: #263238;
$dark-text-color: #3c4c55;
$light-color: #fefefe;
$light-accent-color: #f5f5f5;
$accent-color: #ffd740;
$white-color: #fff;
$text-accent-color: #546e7a;

// SETTINGS
$baseFontSize: 16px;
$desktop-width: 1200px;
//$tablet-width: 768px;
//$mobile-width: 320px;
//$gutters-desktop: 120px;
//$gutters-tablet: 64px;
//$gutters-mobile: 20px;

